body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 18px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.modifications{
    display: inline;
    text-align: left;
    line-height: 1.5;
}

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    position: fixed;
    padding: 10px;
    width: 100%;
    bottom: 0;
}


p {
    font-size: 18px;
    line-height: 1.6;
}

h2 {
    color: #333333;
}

.community-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;;
}

kbd {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}

.funMeter {
    width: 200px;
    height: 25px;
}

.intro {
    font-size: 20px;
    line-height: 1.6;
}